footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;

    a {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    i {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: auto
    }
}