@use '../global/variables';
@use '../global/functions';
@use '../global/mixins';

button {
    @include mixins.button(variables.$color-principal, variables.$color-neutro);
}

.buttonCTA {
    @include mixins.button(variables.$color-resalto, variables.$color-neutro);
}