@use '../global/variables';
@use '../global/functions';

.newsBlock {
    @media (min-width: 3200px) {
        max-width: 1200px;
        min-width: 800px;
    }
    @media (max-width: 3199px) {
        max-width: 800px;
        min-width: 400px;
    }
    @media (max-width: 1640px) {
        max-width: 400px;
        min-width: 100px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h3 {
        background-color: rgba(255, 255, 255, 0.696);
        color: variables.$color-neutro2;
        width: 100%;
    }

    &:hover {
        filter: brightness(70%);
        cursor: pointer;
    }
}
